:root {
	--text-color: white;
}

* {
	padding: 0;
	margin: 0;
	line-height: 1.2em;
	letter-spacing: 0.05em;
	box-sizing: border-box;
}

html {
	font-family: "Inter", sans-serif;
	background: #0b3c37;
	font-size: 1.1em;
	color: var(--text-color);
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	text-shadow: 0 0 10px gray;
}
