#aboutMembership #about {
	max-width: 900px;
	padding: 40px 50px;
	background: url("/rugbyBall.png");
	background-size: 70%;
	background-repeat: no-repeat;
	margin: 50px auto;
	display: grid;
	grid-template-columns: 1fr 2fr;
	gap: 70px;
	h1 {
		font-size: 1.5em;
		letter-spacing: 0.1em;
		font-weight: 400;
		color: #d2a98a;
	}
	h2 {
		font-style: italic;
		font-size: 2em;
		letter-spacing: 0.1em;
		font-weight: 400;
		max-width: 400px;
		margin-bottom: 20px;
	}
	p {
		letter-spacing: 0.1em;
		font-weight: 200;
		margin-bottom: 25px;
	}
	a {
		display: inline-block;
		margin-top: 20px;
	}
}

@media (max-width: 750px) {
	#aboutMembership #about {
		background-size: 90%;
		display: block;
		> div {
			margin-top: 20px;
		}
	}
}

@media (max-width: 450px) {
	#aboutMembership #about {
		padding: 35px;
		background-size: 140%;
		background-position: right -80px top 60px;
		h1 {
		}
		h2 {
			font-size: 2em;
		}
	}
}
