.endQuote {
	text-align: center;
	padding: 60px;
	padding-bottom: 180px;
	font-style: italic;
	font-size: 1.3em;
	font-weight: 400;
	> * {
		display: block;
		margin-top: 5px;
		letter-spacing: 0.05em;
	}
	a {
		color: #d2a98a;
	}
}
