#restaurant .catering {
	max-width: 1024px;
	padding: 20px;
	margin: 0 auto;
	display: flex;
	gap: 30px;
	grid-template-columns: 1fr 2fr;
	.carousel {
		min-width: 350px;
	}
	img {
		flex-shrink: 0;
		width: 100%;
		aspect-ratio: 1.3/1;
		background: lightgray;
	}
	.rightContents {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 30px;
		align-items: center;
	}
	.rightContents > div {
		max-width: 300px;
	}
	h2 {
		color: #f1ccb0;
		font-size: 1.8em;
		font-weight: 300;
		margin-bottom: 20px;
	}
	.left p {
		margin-bottom: 15px;
		font-size: 0.9em;
		font-weight: 350;
	}
	.left a {
		display: block;
		margin-top: 60px;
		color: #6cc9ca;
	}
	.right {
		padding-top: 20px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.right .topCard {
		padding: 20px;
		background-color: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(50px);
		border-radius: 5px;
	}

	.right .topCard p {
		padding: 0 15px;
		font-size: 0.95em;
		font-weight: 360;
	}

	.right .topCard a {
		background-color: #9494944d;
		padding: 12px;
		width: 100%;
		font-size: 0.88em;
		font-weight: 400;
		border-radius: 50px;
		display: block;
		margin-top: 10px;
		text-align: center;
	}

	.right .disclaimer {
		margin-left: 10px;
		margin-top: 50px;
		font-size: 0.9em;
	}
}

@media (max-width: 950px) {
	#restaurant .catering {
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 600px) {
	#restaurant .catering .rightContents {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 375px) {
	#restaurant .catering .carousel {
		min-width: 300px;
	}
}
