.deliverySection {
	max-width: 1024px;
	padding: 20px;
	margin: 0 auto;
	h3 {
		font-size: 0.85em;
		font-weight: 500;
		padding-bottom: 20px;
	}

	h2 {
		color: #f1ccb0;
		font-size: 1.8em;
		font-weight: 300;
		letter-spacing: 0.1em;
		margin-bottom: 50px;
	}
	.leftLower {
		max-width: 300px;
		gap: 30px;
		display: flex;
		font-size: 0.9em;
		font-weight: 300;
	}
	.topSection {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 100px;
		margin-bottom: 40px;
	}
	.rightSection {
		text-align: center;
		max-width: 300px;
		padding: 20px 40px;
		border-radius: 5px;
		background-color: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(5px);
		max-height: 110px;
	}
	.rightSection a {
		display: block;
		max-width: 300px;
		font-size: 0.75em;
		font-weight: 300;
		padding: 10px 20px;
		border: 1px solid rgba(255, 255, 255, 0.2);
		background-color: rgba(0, 0, 0, 0.35);
		border-radius: 40px;
	}
	.rightSection a:hover {
		border-color: rgba(255, 255, 255, 0.5);
	}
	.galleryContainer {
		display: none;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
	img {
		width: 100%;
		object-fit: cover;
		margin-bottom: 30px;
	}
	.download {
		display: block;
		padding: 15px 25px;
		color: #6cc9ca;
	}
	embed {
		padding: 10px 0px;
		display: block;
		width: 100%;
		aspect-ratio: 2/1.2;
	}
}

@media (max-width: 670px) {
	.deliverySection .topSection {
		flex-direction: column;
		gap: 50px;
		align-items: center;
	}
}

@media (max-width: 770px) {
	.deliverySection {
		embed {
			display: none;
		}
		.galleryContainer {
			display: flex;
			align-items: flex-start;
			overflow: auto;
			gap: 20px;

			img {
				max-width: 280px;
			}
		}
	}
}

@media (max-width: 350px) {
	.deliverySection {
		.dineInTop {
			margin: 10px;
			gap: 40px;
		}
		.galleryContainer {
			margin: 100px 10px;
			img {
				max-width: 250px;
			}
		}
		embed {
			padding: 5px;
		}
	}
}
