.dineInSection {
	max-width: 1024px;
	margin: 50px auto;
	.dineInTop {
		margin: 20px;
		display: flex;
		gap: 50px;
		align-items: center;
		margin-bottom: 50px;
	}
	h2 {
		color: #f1ccb0;
		font-size: 1.8em;
		letter-spacing: 0.1em;
		font-weight: 300;
	}

	.dineInTop p {
		color: #6cc9ca;
	}
	.galleryContainer {
		margin: 0 20px;
		display: none;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	}
	img {
		width: 100%;
		object-fit: cover;
		margin-bottom: 30px;
	}
	.download {
		display: block;
		padding: 15px 25px;
		color: #6cc9ca;
	}
	embed {
		padding: 10px 25px;
		display: block;
		width: 100%;
		aspect-ratio: 2/1.2;
	}
}

@media (max-width: 770px) {
	.dineInSection {
		embed {
			display: none;
		}
		.galleryContainer {
			display: flex;
			align-items: flex-start;
			overflow: auto;
			gap: 20px;

			img {
				max-width: 280px;
			}
		}
	}
}

@media (max-width: 350px) {
	.dineInSection {
		.dineInTop {
			margin: 10px;
			gap: 40px;
		}
		.galleryContainer {
			margin: 100px 10px;
			img {
				max-width: 250px;
			}
		}
		embed {
			padding: 5px;
		}
	}
}
