.dineInSection {
	max-width: 1024px;
	margin: 0 auto;
	.dineInTop {
		margin: 20px;
		display: flex;
		gap: 50px;
		align-items: center;
	}
	h2 {
		color: #f1ccb0;
	}

	.dineInTop p {
		color: #6cc9ca;
	}
	.galleryContainer {
		margin: 100px 20px;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 40px;
	}
	img {
		width: 100%;
		object-fit: cover;
	}
	.galleryContainer.full {
		display: block;
		max-width: 100%;
	}
	.galleryContainer.full img {
		margin-bottom: 40px;
	}
	embed {
		display: block;
		width: 100%;
		height: 600px;
	}
}

@media (max-width: 350px) {
	.dineInSection {
		.dineInTop {
			margin: 10px;
			gap: 40px;
		}
		.galleryContainer {
			margin: 100px 10px;
		}
	}
}
