#restaurant .offers {
	max-width: 1024px;
	padding: 20px;
	margin: 50px auto;

	h2 {
		color: #f1ccb0;
		font-size: 1.8em;
		font-weight: 300;
		letter-spacing: 0.1em;
		margin-bottom: 50px;
	}
	h3 {
		font-size: 1.15em;
		font-weight: 500;
		height: 50px;
		margin-bottom: 10px;
	}

	.offerContainer {
		display: flex;
		justify-content: space-between;
		overflow-x: auto;
		overflow-y: hidden;
		gap: 20px;
		scrollbar-color: #9494944d #032f34;
		scrollbar-width: none;
		padding-bottom: 20px;
	}
	.offerContainer:hover {
		scrollbar-width: thin;
	}
	img {
		width: 100%;
		aspect-ratio: 1.5/1;
		object-fit: cover;
		filter: brightness(60%);
	}
	.card {
		width: 310px;
		background-color: #032f34;
		flex-shrink: 0;
	}
	.card div {
		padding: 20px;
		padding-top: 10px;
	}
	.card p {
		font-size: 0.9em;
		font-weight: 400;
	}
	.card p:nth-of-type(1) {
		font-size: 0.85em;
		font-weight: 300;
		min-height: 80px;
	}
	a {
		display: block;
		font-size: 0.9em;
		font-weight: 400;
		letter-spacing: 0.05em;
		max-width: 180px;
		text-align: center;
		padding: 10px 20px;
		background: #9494944d;
		border-radius: 45px;
		margin: 0 auto;
		margin-top: 20px;
		border: 1px solid #9494944d;
	}
	a:hover {
		border-color: gray;
	}
}

#restaurant .card:hover {
	img {
		filter: brightness(70%);
	}
}

@media (max-width: 600px) {
	#restaurant .offers {
		.offerContainer {
			flex-direction: column;
			align-items: center;
			gap: 40px;
		}
	}
}

@media (max-width: 350px) {
	#restaurant .offers {
		padding: 10px;
	}
}
