#salonSpa .FAQ {
	margin: 0 auto;
	gap: 60px;
	max-width: 450px;
	h2 {
		color: #d2a98a;
		font-size: 2em;
		font-weight: 200;
		font-style: italic;
		letter-spacing: 0.15em;
		margin-bottom: 40px;
	}

	.faqCard {
		padding-bottom: 10px;
		max-width: 500px;
	}
	h3 {
		letter-spacing: 0.1em;
		font-size: 0.85em;
		font-weight: 350;
	}
	.faqCardUpper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	button {
		font-family: "Inter";
		opacity: 1;
		width: 30px;
		color: inherit;
		font-size: 1.5em;
		background: none;
		font-weight: 200;
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	button:hover {
		cursor: pointer;
	}

	.faqCardInfo {
		max-height: 0px;
		opacity: 0;
		overflow: hidden;
		transition: max-height 1s ease-out;
		padding-right: 50px;
		transition:
			opacity 0.75s ease-out,
			max-height 0.5s linear;
	}
	.faqCardInfo p {
		font-size: 0.85em;
		font-weight: 300;
		line-height: 1.25em;
		letter-spacing: 0.1em;
		padding-top: 10px;
		padding-bottom: 30px;
	}

	.open + .faqCardInfo {
		max-height: 300px;
		opacity: 1;
	}
}
@media (max-width: 750px) {
	.FAQ {
		max-width: 600px;
		display: block;
		h2 {
			top: 0;
		}
	}
}

@media (max-width: 420px) {
	.FAQ {
		padding: 20px;
		.faqCardInfo {
			padding-right: 0;
		}
	}
}
