#salonspa {
	.spa,
	.salon {
		max-width: 940px;
		margin: 0 auto;
		margin-top: 50px;
		padding: 20px;
	}
	h2 {
		font-weight: 400;
		letter-spacing: 0.1em;
		color: #f1ccb0;
	}

	.topSection a {
		font-weight: 400;
		font-size: 1.15em;
		color: #6cc9ca;
	}

	.topSection {
		max-width: 300px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
	}
}

#salonspa .cardContainer {
	display: flex;
	gap: 25px;
	overflow: auto;
	justify-content: space-between;
	scrollbar-width: thin;
	scrollbar-color: gray transparent;
}

#salonspa .card {
	background-color: #000a0c;
	width: 290px;
	flex-shrink: 0;
	margin-bottom: 30px;
	img {
		width: 100%;
		object-fit: cover;
		aspect-ratio: 1.25/1;
	}
	.cardContents {
		padding: 20px;
	}
	h3 {
		font-size: 1.5em;
		font-weight: 400;
		letter-spacing: 0.05em;
		margin-bottom: 10px;
	}
	p {
		font-size: 0.9em;
		font-weight: 450;
		letter-spacing: 0.05em;
		margin-bottom: 20px;
	}
	a {
		display: block;
		padding: 8px;
		background: white;
		border-radius: 2px;
		font-weight: 500;
		color: black;
		max-width: 230px;
		text-align: center;
	}
}
