#salonspa .thirdSection {
	* {
		outline: 1px solid red;
	}
	max-width: 940px;
	padding: 20px;
	margin: 0 auto;
	margin-top: 80px;
	.one {
		max-width: 300px;
	}
	.one p {
		font-size: 0.9em;
		letter-spacing: 0.1em;
		font-weight: 300;
	}
	.one a {
		color: #f1ccb0;
	}
	.two {
		display: flex;
		margin-top: 80px;
		gap: 40px;
		max-width: 800px;
		align-items: center;
	}
}

#salonspa .membership {
	* {
		outline: 1px solid red;
	}
	padding: 20px 40px;
	width: 300px;
	background: url("/membershipBackground.jpg");
	background-position: center;
	background-size: cover;
	h3 {
		font-size: 1.8em;
		font-weight: 400;
	}
	p {
		margin-top: 20px;
		font-weight: 300;
		font-size: 0.9em;
	}
	a {
		text-align: center;
		display: block;
		max-width: 220px;
		margin: 40px auto;
		padding: 10px 20px;
		border: 2px solid black;
		border-radius: 50px;
		font-size: 0.9em;
		font-weight: 300;
		background-color: rgba(255, 255, 255, 0.2);
		border-color: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(8px);
	}
	a:hover {
		border-color: rgba(255, 255, 255, 0.5);
	}
}
