#contact .contactForm {
	max-width: 800px;
	margin: 0 auto;
	margin-top: 50px;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 200px;
}

#contact .left {
	max-width: 300px;
	margin: 0 auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	h2 {
		color: #f1caae;
		font-weight: 380;
		font-size: 1.7em;
		margin-bottom: 20px;
		letter-spacing: 0.1em;
	}
	p {
		letter-spacing: 0.1em;
		font-weight: 320;
	}
}
#contact .contactForm .info {
	* {
		letter-spacing: 0.2em;
	}
	font-weight: 350;
	a {
		display: block;
		margin-top: 15px;
		font-weight: 400;
	}
	a span {
		position: relative;
		top: -3px;
		margin-left: 2px;
	}
}

#contact .contactForm .info.lowerMeanwhile {
	display: none;
}

#contact form {
	max-width: 500px;
	margin: 0 auto;
	input,
	select,
	textarea {
		padding: 8px 15px;
		margin-bottom: 10px;
		background-color: #d9d9d9;
		width: 100%;
	}
	textarea {
		resize: none;
		height: 200px;
	}
}

#contact form button {
	display: block;
	background-color: #00000033;
	padding: 10px 40px;
	color: inherit;
	backdrop-filter: blur();
	margin: 0 auto;
	border: 1px solid #ffffff14;
	border-radius: 5px;
}
#contact form button:hover {
	border-color: rgba(100, 100, 100);
	cursor: pointer;
}

@media (max-width: 740px) {
	#contact .contactForm {
		gap: 30px;
	}
}

@media (max-width: 570px) {
	#contact .contactForm .meanwhile {
		display: none;
	}
	#contact .contactForm .info.lowerMeanwhile {
		display: block;
		margin: 0 auto;
		margin-top: 10px;
	}
}
