.contactUS {
	/* min-height: 100vh; */
	/* background: #826afb; */
}
.swa12-title {
	z-index: 10;
}

form {
	max-width: 400px;
	width: 100%;
	padding: 0 10px;
	border-radius: 8px;
	margin-bottom: 20px;
}

form .input-box {
	margin-top: 15px;
}

.input-box .field {
	width: 100%;
	height: 50px;
	border: 2px solid white;
	outline: none;
	border-radius: 5px;
	padding: 10px 15px;
	font-size: 16px;
	color: black;
	margin-top: 5px;
}

.input-box .field.mess {
	height: 200px;
	resize: none;
}

form button {
	width: 100%;
	height: 55px;
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 6px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	cursor: pointer;
	font-size: 16px;
	color: white;
	font-weight: 500;
	margin-top: 25px;
	transition: 0.5s;
}

form button:hover {
	background: rgba(0, 0, 0, 0.7);
}
