.footer {
	letter-spacing: 0.05em;
	width: 100%;
	background-color: black;
	padding: 50px;
}

.footerCards {
	padding: 10px;
	display: grid;
	max-width: 720px;
	margin: 0 auto;
	grid-template-columns: 1fr 1fr;
	gap: 50px;
	.footerBold {
		font-weight: bold;
	}
}

.footerLeft {
	img {
		display: block;
		width: 250px;
		margin: 0 auto;
		filter: brightness(0) saturate(100%) invert(82%) sepia(90%) saturate(3%)
			hue-rotate(144deg) brightness(115%) contrast(78%);
	}
	> * {
		margin-top: 25px;
	}
}

.footerRight {
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	a {
		display: block;
		margin-top: 15px;
	}
}

@media (max-width: 650px) {
	.footerCards {
		display: block;
		> * {
			margin: 40px auto;
		}
	}
	.footer {
		padding: 10px;
	}
}
