.footer {
	letter-spacing: 0.05em;
	width: 100%;
	background-color: black;
	padding: 50px;
	padding-bottom: 30px;

	> p {
		text-align: center;
		margin-top: 150px;
		font-size: 1em;
		font-weight: 400;
	}
}

.footerCards {
	padding: 10px;
	display: grid;
	max-width: 1024px;
	margin: 0 auto;
	grid-template-columns: 1fr 2fr;
	gap: 150px;
}

.footerLeft {
	h2 {
		font-size: 1.4em;
		font-weight: 400;
		margin-bottom: 15px;
	}
	p {
		font-size: 1em;
		font-weight: 300;
	}
	img {
		display: block;
		width: 150px;
		margin: 0 auto;
	}
	> * {
		margin-top: 30px;
	}
	h3 {
		font-size: 1.2em;
		font-weight: 450;
		margin-bottom: 15px;
	}
	.contact p {
		font-size: 0.8em;
		margin-top: 15px;
	}
	.contact img {
		filter: brightness(0) saturate(100%) invert(89%) sepia(100%) saturate(2%)
			hue-rotate(208deg) brightness(113%) contrast(101%);
		width: 15px;
		display: inline;
		position: relative;
		top: 2px;
	}

	.map h3 {
		margin: 10px 0;
		margin-top: 60px;
	}
	.map a {
		display: flex;
		gap: 10px;
		align-items: center;
		font-size: 0.95em;
		margin: 10px;
	}
	.map span {
		font-size: 0.7em;
	}
	.iframeDiv {
		width: 100%;
		aspect-ratio: 1/1;
		position: relative;
	}
	iframe {
		width: 100%;
		height: 100%;
	}
	.iframeDiv img {
		position: absolute;
		width: 100%;
	}
	.hidden {
		display: none;
	}
}

.footerRight > div {
	padding: 10px;
}

.footerRight {
	max-width: 800px;
	.socials img {
		filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(0%)
			hue-rotate(109deg) brightness(106%) contrast(100%);
		width: 23px;
		height: 23px;
		object-fit: contain;
		margin-right: 25px;
		margin-bottom: 8px;
	}
}

.footerRight .cards {
	p {
		margin-top: 20px;
		font-weight: 600;
	}
	display: grid;
	font-size: 0.85em;
	grid-template-columns: repeat(auto-fit, minmax(164px, 1fr));
	gap: 20px;
	a {
		display: block;
		margin-top: 18px;
	}
	div {
		margin-top: 20px;
	}
}

.footer form {
	max-width: 400px;
	margin-top: 50px;
	padding: 20px;
	p {
		color: white;
		font-size: 1em;
		font-weight: 350;
	}

	input {
		margin: 20px 0;
		width: 100%;
		padding: 12px 18px;
		background-color: #d9d9d9;
		border-radius: 2px;
		border: none;
		font-size: 1em;
	}
	button {
		display: block;
		font-family: inherit;
		background: none;
		color: #f3cd9c;
		border: none;
		font-size: 1em;
		font-weight: 450;
	}
	button:hover {
		text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
		cursor: pointer;
	}
}

@media (max-width: 650px) {
	.footerCards {
		display: block;
		> * {
			margin: 40px auto;
		}
	}
	.footer {
		padding: 10px;
		padding-bottom: 30px;
		form {
			padding: 10px;
		}
	}
}

@media (max-width: 405px) {
	.footerRight .cards,
	.footerRight .socials {
		text-align: center;
	}
}
