.footer {
	letter-spacing: 0.05em;
	width: 100%;
	background-color: black;
	padding: 50px;
	padding-bottom: 30px;

	* {
		/*
		outline: 1px solid red;
		*/
	}
	> p {
		text-align: center;
		margin-top: 150px;
		font-size: 1em;
		font-weight: 400;
	}
}

.footerCards {
	padding: 10px;
	display: grid;
	max-width: 1024px;
	margin: 0 auto;
	grid-template-columns: 1fr 2fr;
	gap: 150px;
}

.footerLeft {
	h2 {
		font-size: 1.4em;
		font-weight: 500;
		margin-bottom: 15px;
	}
	p {
		font-size: 1.1em;
	}
	img {
		display: block;
		width: 150px;
		margin: 0 auto;
	}
	> * {
		margin-top: 30px;
	}
	h3 {
		font-size: 1.2em;
		font-weight: 500;
		margin-bottom: 15px;
	}
	.contact p {
		margin-top: 10px;
	}
	.map h3 {
		margin-bottom: 5px;
	}
	.map a {
		display: flex;
		gap: 10px;
		align-items: center;
	}
	.map span {
		font-size: 0.8em;
	}
	iframe {
		width: 100%;
		aspect-ratio: 1/1;
	}
}

.footerRight > div {
	padding: 10px;
}

.footerRight {
	max-width: 800px;
}

.footerRight .cards {
	.boldText {
		font-weight: 600;
	}
	display: grid;
	font-size: 0.9em;
	grid-template-columns: repeat(auto-fit, minmax(164px, 1fr));
	gap: 20px;
	a {
		display: block;
		margin-top: 15px;
	}
	div {
		margin-top: 20px;
	}
}

@media (max-width: 650px) {
	.footerCards {
		display: block;
		> * {
			margin: 40px auto;
		}
	}
	.footer {
		padding: 10px;
	}
}
