.navBar {
	font-size: 0.8em;
	font-weight: 200;
	letter-spacing: 0.1em;
}

.navBar img {
	position: relative;
	width: 20px;
}

.navBar .logo {
	width: 200px;
	filter: brightness(0) saturate(100%) invert(82%) sepia(90%) saturate(3%)
		hue-rotate(144deg) brightness(115%) contrast(78%);
}

.topNav {
	position: relative;
	top: 50px;
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 0px 20px;
	padding-top: 20px;
}

.navBar ul {
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	gap: 5px;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	padding-bottom: 10px;
}

.mobileNav {
	padding: 50px;
	display: none;
	margin-bottom: 60px;
}

.openWindow {
	position: fixed;
	width: 100%;
	height: 100svh;
	top: 0;
	z-index: 2;
	background-color: rgba(255, 255, 255, 0.75);
	backdrop-filter: blur(8px);
	color: black;
	.close {
		display: block;
		padding: 35px;
		padding-bottom: 0;
		background: none;
		color: gray;
		border: none;
		font-size: 3.5em;
		justify-self: right;
	}
	ul {
		width: 100%;
		display: grid;
		justify-content: center;
		text-align: center;
	}
	li {
		font-size: 1.5em;
		font-weight: 300;
		margin-bottom: 20px;
		padding-bottom: 5px;
		border-bottom: 2px solid lightgray;
	}
}

.hidden {
	display: none;
}

@media (max-width: 800px) {
	.desktopNav {
		display: none;
	}
	.mobileNav {
		display: flex;
		justify-content: space-between;
	}
	.hamburgerMenu {
		font-size: 2.5em;
		font-weight: 300;
		background: none;
		border: none;
		color: white;
	}
	.mobileNav img {
		bottom: 0;
	}
}

@media (max-width: 450px) {
	.mobileNav {
		padding: 30px;
		.logo {
			width: 150px;
		}
	}
}
