.navBar {
	width: 100%;
	font-size: 0.8em;
	font-weight: 250;
	background-repeat: no-repeat;
	background-size: cover;
	letter-spacing: 0.1em;
}

.heroNav img {
	position: relative;
	bottom: 20px;
	width: 50px;
}

.topNav {
	position: relative;
	width: 100%;
	top: 50px;
	max-width: 1025px;
	margin: 0 auto;
	display: flex;
	padding: 0 20px;
	justify-content: space-between;
	align-items: center;
	img {
		width: 25px;
		height: 25px;
		opacity: 0.8;
		filter: brightness(0) saturate(100%) invert(86%) sepia(100%) saturate(14%)
			hue-rotate(130deg) brightness(105%) contrast(103%);
	}
	.rightNavContents a:nth-of-type(2) {
		padding-left: 40px;
	}
}

.navBar ul {
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	gap: 5px;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	padding-top: 50px;
	padding-bottom: 10px;
}

.mobileNav {
	padding: 50px;
	display: none;
	margin-bottom: 60px;
}

.openWindow {
	position: fixed;
	width: 100%;
	height: 100svh;
	top: 0;
	z-index: 2;
	background-color: rgba(255, 255, 255, 0.75);
	backdrop-filter: blur(8px);
	color: black;
	.close {
		display: block;
		padding: 35px;
		padding-bottom: 0;
		background: none;
		color: gray;
		border: none;
		font-size: 3.5em;
		justify-self: right;
	}
	ul {
		width: 100%;
		display: grid;
		justify-content: center;
		text-align: center;
	}
	li {
		font-size: 1.5em;
		font-weight: 300;
		margin-bottom: 20px;
		padding-bottom: 5px;
		border-bottom: 2px solid lightgray;
	}
}

@media (max-width: 800px) {
	.desktopNav {
		display: none;
	}
	.mobileNav {
		display: flex;
		justify-content: space-between;
	}
	.hamburgerMenu {
		font-size: 2.5em;
		font-weight: 300;
		background: none;
		border: none;
		color: white;
	}
	.mobileNav img {
		bottom: 0;
	}
}

@media (max-width: 450px) {
	.mobileNav {
		padding: 30px;
		img {
			width: 60px;
		}
	}
}
