.navBar {
	font-size: 14px;
	font-weight: 350;
	letter-spacing: 0.1em;
}

.navBar img {
	position: relative;
	width: 20px;
}

.navBar .logo {
	width: 100px;
	position: relative;
	bottom: 10px;
}

.topNav {
	position: relative;
	top: 50px;
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding: 0px 20px;
	padding-top: 20px;
}

.topNav .rightNavContents {
	a:nth-of-type(1) {
		margin-right: 25px;
	}
	img {
		position: relative;
		width: 22px;
		top: 8px;

		filter: brightness(0) saturate(100%) invert(82%) sepia(90%) saturate(3%)
			hue-rotate(144deg) brightness(115%) contrast(78%);
	}
}

.navBar ul {
	max-width: 1024px;
	margin: 0 auto;
	display: flex;
	gap: 5px;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	padding-top: 60px;
	padding-bottom: 10px;
}

.mobileNav {
	padding: 150px 50px;
	display: none;
	margin-bottom: 60px;
}

.openWindow {
	padding-top: 30px;
	position: fixed;
	overflow: scroll;
	width: 100%;
	height: 100svh;
	top: 0;
	z-index: 2;
	background-color: rgba(0, 101, 162, 0.3);
	backdrop-filter: blur(45px);
	.close {
		display: block;
		padding-bottom: 0;
		margin: 30px;
		margin-bottom: 15px;
		padding: 5px;
		background: none;
		border: none;
		justify-self: right;
	}
	.close img {
		width: 35px;
		height: 35px;
		filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%)
			hue-rotate(50deg) brightness(104%) contrast(101%);
	}
	ul {
		position: relative;
		width: 100%;
		display: grid;
		justify-content: center;
		text-align: center;
	}
	li {
		font-size: 1.5em;
		font-weight: 300;
		margin-bottom: 20px;
		padding-bottom: 5px;
	}
	li:nth-of-type(1) {
		position: absolute;
		top: -75px;
		left: calc(50% - 40px);
		margin: 0 auto;
		width: 80px;
		height: 90px;
		margin-bottom: 10px;
	}
	img {
		width: 80px;
	}
	> a,
	p {
		display: block;
		text-align: center;
	}
	> a {
		margin-top: 20px;
		font-size: 1.5em;
	}
	p {
		margin-top: 150px;
		margin-bottom: 200px;
	}
}

.hidden {
	display: none;
}

@media (max-width: 800px) {
	.desktopNav {
		display: none;
	}
	.mobileNav {
		display: flex;
		justify-content: space-between;
	}
	.hamburgerMenu {
		font-size: 2.5em;
		font-weight: 300;
		background: none;
		border: none;
		color: white;
	}
	.mobileNav .logo {
		width: 70px;
		top: 10px;
	}
}

@media (max-width: 450px) {
	.mobileNav {
		padding: 30px;
		padding-top: 100px;
	}
}
