#offerEvents .second {
	max-width: 920px;
	padding: 20px;
	margin: 50px auto;

	.top {
		display: flex;
		gap: 20px;
		justify-content: space-between;
		align-items: center;
		max-width: 500px;
	}

	.top h2 {
		color: #f1ccb0;
		font-weight: 300;
		font-size: 1.5em;
		max-width: 200px;
	}

	.top a {
		color: #6cc9ca;
	}

	.cardContainer {
		margin-top: 30px;
		margin-bottom: 50px;
		padding-bottom: 50px;
		display: flex;
		overflow: auto;
		gap: 20px;
		scrollbar-color: lightgray transparent;
		scrollbar-width: thin;
	}

	.card {
		flex-shrink: 0;
		width: 700px;
		display: grid;
		grid-template-columns: 1fr 1.1fr;
	}

	.card .cardLeft {
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		aspect-ratio: 1/1;
		position: relative;
		overflow: hidden;
		padding: 20px;
	}

	.card .cardLeft > div {
		gap: 20px;
		display: flex;
	}

	.card .cardLeft .one {
		width: 80px;
	}
	.card .cardLeft .one p {
		width: 100;
		text-align: center;
		padding: 3px;
	}

	.card .cardLeft .two {
		background-color: rgba(0, 0, 0, 40%);
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 20px;
		backdrop-filter: blur(20px);
	}

	.card .cardLeft .date {
		background-color: #00000059;
		font-size: 1.5em;
	}

	.card .cardLeft .month {
		font-size: 1.1em;
		color: black;
		background-color: #d9d9d9;
	}

	.card .cardRight {
		padding: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	.card .cardRight a {
		max-width: 250px;
		text-align: center;
		background-color: #d9d9d91a;
		padding: 15px;
		border: 1px solid #636363;
		border-radius: 30px;
	}

	.card .content p {
		margin-bottom: 30px;
	}
}
#offerEvents .second .innerCard {
	display: none;
	max-width: 300px;
	font-size: 0.9em;
	max-height: 200px;
	padding: 20px;
	border: 1px solid #1a7475;
	border-radius: 10px;
	font-weight: 450;
	background-color: #38373733;
	a {
		background-color: #9494944d;
		display: block;
		padding: 12px;
		text-align: center;
		border-radius: 30px;
		margin: 0 10px;
		margin-top: 15px;
	}
}

@media (max-width: 768px) {
	#offerEvents .second .cardContainer {
		gap: 60px;
	}

	#offerEvents .second .card {
		display: block;
		width: 280px;
	}
	#offerEvents .second .card .cardLeft > div {
		height: 100%;
		flex-direction: column;
		justify-content: space-between;
	}
	#offerEvents .second .innerCard {
		display: block;
	}
}
