#offerEvents .third {
	max-width: 920px;
	padding: 20px;
	margin: 0 auto;

	h2 {
		max-width: 250px;
		margin-bottom: 50px;
		font-weight: 300;
		font-size: 1.6em;
		color: #f1ccb0;
	}
	.cardContainer {
		display: flex;
		gap: 60px;
		overflow: auto;
		padding-bottom: 50px;
		scrollbar-width: thin;
		scrollbar-color: lightgray transparent;
	}
	.card {
		flex-shrink: 0;
		max-width: 280px;
	}
	img {
		width: 100%;
		aspect-ratio: 2/1.5;
		object-fit: cover;
	}
	.lowerCard {
		padding: 15px 20px;
		background-color: #000a0c;
	}
	.card h3 {
		font-weight: 380;
		margin-bottom: 20px;
	}
	p {
		font-weight: 300;
		font-size: 0.9em;
		margin-bottom: 10px;
	}
	.card a {
		display: block;
		background-color: #ffffff;
		color: black;
		max-width: 170px;
		text-align: center;
		padding: 8px;
		margin-top: 30px;
		margin-bottom: 10px;
	}
	.membershipCard {
		max-width: 300px;
		padding: 20px 50px;
		margin-top: 50px;
		background: url("/membershipBackground.jpg");
		background-position: center;
		background-size: cover;
		h3 {
			font-size: 1.8em;
			font-weight: 400;
		}
		p {
			margin-top: 10px;
			font-weight: 300;
		}
		a {
			text-align: center;
			display: block;
			max-width: 220px;
			margin: 10px auto;
			margin-top: 40px;
			padding: 10px 20px;
			border: 2px solid black;
			border-radius: 50px;
			background-color: rgba(255, 255, 255, 0.2);
			border-color: rgba(255, 255, 255, 0.1);
			backdrop-filter: blur(8px);
		}
		a:hover {
			border-color: rgba(255, 255, 255, 0.5);
		}
	}
}
