#offerEvents .third {
	max-width: 920px;
	padding: 20px;
	margin: 0 auto;

	h2 {
		max-width: 250px;
		margin-bottom: 50px;
		font-weight: 300;
		font-size: 1.6em;
		color: #f1ccb0;
	}

	.membershipCard {
		max-width: 300px;
		max-height: 300px;
		padding: 20px 50px;
		margin-top: 50px;
		background: url("/membershipBackground.jpg");
		background-position: center;
		background-size: cover;
		h3 {
			font-size: 1.8em;
			font-weight: 400;
		}
		p {
			margin-top: 10px;
			font-weight: 300;
		}
		button {
			text-align: center;
			display: block;
			max-width: 220px;
			margin: 10px auto;
			color: inherit;
			margin-top: 40px;
			padding: 10px 20px;
			border: 2px solid black;
			border-radius: 50px;
			background-color: rgba(255, 255, 255, 0.2);
			border-color: rgba(255, 255, 255, 0.1);
			backdrop-filter: blur(8px);
		}
		button:hover {
			border-color: rgba(255, 255, 255, 0.5);
			cursor: pointer;
		}
	}
	.memFaq {
		display: flex;
		gap: 50px;
	}
}

@media (max-width: 760px) {
	#offerEvents .third .memFaq {
		align-items: center;
		flex-direction: column-reverse;
	}
}

@media (max-width: 425px) {
	#offerEvents .third .cardContainer {
		gap: 20px;
	}
}

@media (max-width: 350px) {
	#offerEvents .third .card {
		max-width: 250px;
	}
}
