#FAQ {
	margin-top: 50px;
	margin-bottom: 200px;
	h2 {
		font-size: 1.8em;
		font-weight: 300;
		font-style: italic;
		letter-spacing: 0.15em;
		margin-bottom: 40px;
	}

	.card {
		margin: 0 auto;
	}
	h3 {
		font-size: 1.2em;
		font-weight: 300;
	}
	.cardUpper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	button {
		font-family: "Inter";
		color: inherit;
		font-size: 2.5em;
		background: none;
		font-weight: 200;
		border: none;
	}
	button:hover {
		cursor: pointer;
	}

	.hiddenCard {
		max-height: 0;
		overflow: hidden;
		transition: max-height 1s ease-out;
	}

	.cardInfo {
		font-size: 0.9em;
		padding-right: 50px;
	}
	.cardInfo p {
		padding-bottom: 30px;
	}
}
