.footer {
	width: 100%;
	background-color: black;
}

.footerCards {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	gap: 40px;
}

.footerLeft {
	img {
		display: block;
		width: 120px;
		margin: 0 auto;
	}
}

.footerRight {
	display: grid;
	grid-template-columns: 1fr 1fr;
	a {
		display: block;
	}
}

@media (max-width: 550px) {
	.footerCards {
		display: block;
		> * {
			margin: 10px auto;
		}
	}
}
