.footer {
	letter-spacing: 0.05em;
	width: 100%;
	background-color: black;
	padding: 50px;
}

.footerCards {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 50px;
	.footerBold {
		font-weight: bold;
	}
}

.footerLeft {
	padding: 10px;
	img {
		display: block;
		width: 120px;
		margin: 0 auto;
	}
	> * {
		margin-top: 25px;
	}
}

.footerRight {
	padding: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	a {
		display: block;
		margin-top: 15px;
	}
}

@media (max-width: 550px) {
	.footerCards {
		display: block;
		> * {
			margin: 40px auto;
		}
	}
	.footer {
		padding: 10px;
	}
}
