.heroNav {
	width: 100%;
	font-size: 0.8em;
	font-weight: 200;
	background: url("/heroImage.svg");
	background-repeat: no-repeat;
	background-size: cover;
	letter-spacing: 0.1em;
}

.heroSection {
	color: #ffffff;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 10px;
	padding-top: 10px;
	display: flex;
	justify-content: space-around;
}

.heroSpecial {
	color: #c1997b;
}

.heroLeft {
	max-width: 400px;
	padding: 0px 10px;
	h2 {
		font-family: "Ibarra Real Nova", serif;
		font-weight: 500;
		font-size: 2.8em;
		margin-bottom: 20px;
		letter-spacing: 0.09em;
	}
	p {
		font-size: 1.8em;
		padding-right: 20px;
		margin-bottom: 20px;
	}

	a {
		backdrop-filter: blur(8px);
		display: inline-block;
		font-size: 1.1em;
		border: 1px solid rgba(255, 255, 255, 0.1);
		background: rgba(0, 0, 0, 0.25);
		/*
		background: rgba(255, 255, 255, 0.05);
		*/
		padding: 15px 30px;
		margin-left: 5px;
		margin: 10px 5px;
		margin-right: 30px;
		border-radius: 22px;
	}
	a:hover {
		border: 1px solid white;
		cursor: pointer;
	}
}

.heroRight {
	visibility: hidden;
	width: 300px;
	aspect-ratio: 1/1.2;
	background-color: teal;
	border-radius: 10px;
}

.hidden {
	display: none;
}

@media (max-width: 800px) {
	.heroRight {
		display: none;
	}
}
