:root {
	--text-color: white;
}

* {
	padding: 0;
	margin: 0;
	line-height: 1.2em;
	box-sizing: border-box;
}

html {
	background: #1c1c1c;
	font-size: 1.1em;
	color: var(--text-color);
}

.mainContainer > div,
.footer > div {
	margin: 0 auto;
	max-width: 800px;
	padding: 20px 40px;
}

.heroNav.navBar {
	margin: 0 auto;
	max-width: 1025px;
	padding: 20px 10px;
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid var(--text-color);
}
