:root {
	--text-color: white;
}

* {
	padding: 0;
	margin: 0;
	line-height: 1.2em;
	box-sizing: border-box;
}

html {
	font-size: 1.15em;
	background: blue;
	color: var(--text-color);
}

.heroNav > *,
.mainContainer > *,
.footer > * {
	margin: 0 auto;
	max-width: 1024px;
	padding: 20px 10px;
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	border-bottom: 1px solid var(--text-color);
}
