#about {
	overflow: hidden;
	display: flex;
	gap: 20px;
	position: relative;
	top: -30px;
	padding-top: 0;
	padding-bottom: 60px;
	h1 {
		color: #d2a98a;
		font-size: 3em;
		font-weight: 500;
		letter-spacing: 0.1em;
		margin-bottom: 60px;
	}
	.tick {
		filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7477%)
			hue-rotate(126deg) brightness(106%) contrast(97%);
		width: 15px;
		margin-right: 15px;
	}

	li {
		display: flex;
		align-items: center;
		margin-top: 5px;
	}
	.leftCard > div {
		width: 500px;

		background: url("/sunAsset.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: right -1em bottom 50%;
	}
	.leftCard > div > div:nth-of-type(1) {
		padding-right: 150px;
	}
	.leftCard > div > div {
		padding: 10px;
	}

	.leftCard > div > div > * {
		margin-top: 20px;
	}
	a {
		color: pink;
	}

	.leftCard div:nth-of-type(2) {
		justify-self: end;
	}
	.rightCard {
		position: relative;
		top: 70px;
		padding: 0 80px;
		background-color: #1c1c1c;
	}
}

#experience {
	max-width: 1024px;
	h2 {
		text-align: center;
		margin-bottom: 20px;
		letter-spacing: 0.2em;
		font-weight: 400;
		color: #d2a98a;
	}
	.cardContainer {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 40px;
	}
	.card {
		background-color: #171717;
		padding: 25px;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.card h2 {
		font-size: 2.2em;
	}

	p {
		font-size: 0.85em;
		font-weight: 300;
		letter-spacing: 0.1em;
		line-height: 1.3em;
		margin: 20px 0;
	}

	a {
		display: inline-block;
		margin: 5px 20px;
		font-weight: 300;
		font-size: 1.2em;
		margin-bottom: 0px;
		text-align: center;
		padding: 10px 10px;
		background-color: #444444;
		border-radius: 30px;
	}
}

@media (max-width: 450px) {
	.leftCard {
		:5px;
	}
	.leftCard > div > div:nth-of-type(1) {
		padding: 5px;
	}
}
@media (max-width: 790px) {
	#about {
		flex-direction: column;
		.leftCard > div {
		}
	}
}
