#experience {
	max-width: 1024px;
	h2 {
		text-align: center;
		margin-bottom: 20px;
	}
	.cardContainer {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}
	.card {
		background-color: black;
		padding: 30px;
	}
}
