#facilities .firstSection {
	max-width: 940px;
	padding: 20px;
	margin: 0 auto;
	margin-top: 50px;
	.lower {
		display: flex;
		gap: 20px;
		justify-content: space-between;
		align-items: center;
	}
	.left {
		max-width: 300px;
	}

	.left h3 {
		color: #f1ccb0;
		font-size: 1.8em;
		margin-bottom: 30px;
	}
	.left p {
		font-size: 1.3em;
		font-weight: 350;
		font-style: italic;
		margin-bottom: 30px;
	}

	.left a {
		margin-right: 30px;
		font-weight: 450;
	}
	.facilitiesCard {
		background-color: #38373733;
		padding: 18px 30px;
		height: 155px;
		max-width: 350px;
		border: 1px solid #6cc9ca26;
		border-radius: 5px;
	}
	.facilitiesCard p {
		font-weight: 320;
		margin-bottom: 20px;
	}
	.facilitiesCard a {
		display: block;
		padding: 10px 15px;
		background-color: #9494944d;
		text-align: center;
		max-width: 220px;
		margin: 0 auto;
		border-radius: 20px;
		font-weight: 350;
	}
}

@media (max-width: 640px) {
	#facilities .firstSection .lower {
		flex-direction: column;
		.facilitiesCard {
			display: none;
		}
	}
}
