#facilities .secondSection {
	max-width: 940px;
	padding: 20px;
	margin: 0 auto;
	.cardContainer {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 20px;
	}
	.card {
		padding: 10px 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-origin: center;
		height: 200px;
		position: relative;
		overflow: hidden;
		transition: all 0.3s ease;
	}
	.card img {
		position: absolute;
		width: 120%;
		filter: brightness(0.7);
		object-fit: contain;
		top: 0;
		left: 0;
		transition: all 0.3s ease;
	}
	.card h2,
	.card p,
	.card div {
		z-index: 2;
	}
	.card p {
		display: none;
	}

	.card.show:nth-of-type(1) {
		height: 300px;
	}
	.card.show:nth-of-type(1) p {
		display: block;
		margin-top: 20px;
	}

	.card.show:nth-of-type(1) img {
		width: 170%;
		left: -60px;
	}

	.card h2 {
		font-size: 2em;
		font-weight: 350;
	}
	.card div {
		margin-top: auto;
		text-align: right;
		font-size: 5em;
		font-weight: 200;
		height: 100px;
	}
	.card .minus {
		display: none;
	}
}

#facilities .secondSection .open {
	.card .plus {
		display: none;
	}

	.card p {
		display: block;
	}
	.card .minus {
		display: block;
	}
}
