#facilities .secondSection {
	max-width: 940px;

	padding: 20px;
	margin: 0px auto;
	margin-top: 50px;
	.cardContainer {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		gap: 30px;
	}
	.card {
		position: relative;
		padding: 10px 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-origin: center;
		height: 200px;
		overflow: hidden;
		transition: all 0.4s ease;
	}
	.card img {
		position: absolute;
		width: 120%;
		filter: brightness(0.7);
		object-fit: contain;
		top: 0;
		left: 0;
		transition: all 0.4s ease;
	}
	.card h2,
	.card p,
	.card div {
		z-index: 2;
	}
	.card.show {
		height: 100%;
		transition: height 0.4s ease;
	}
	.card p {
		height: 0;
		overflow: hidden;
		opacity: 0;
		transition: height 0.4s ease;
		transition: opacity 0.5s ease;
	}

	.card.show p {
		height: 100%;
		opacity: 1;
		background-color: rgba(0, 0, 0, 0.4);
		padding: 20px;
		font-size: 1em;
	}
	.card.show .plus {
		display: none;
	}
	.card.show .minus {
		display: block;
		top: -45px;
	}

	.card.show img {
		width: 170%;
		left: -60px;
	}

	.card h2 {
		font-size: 2em;
		font-weight: 350;
	}
	.card div {
		margin-top: auto;
		text-align: right;
		font-size: 6.5em;
		font-weight: 100;
		height: 70px;
		overflow: hidden;
	}
	.card div span {
		position: relative;
		top: -35px;
	}

	.card div span:hover {
		cursor: pointer;
	}
	.card .minus {
		display: none;
	}
	.endCard {
		grid-column: 3;
		padding: 20px 30px;
		background-color: rgba(0, 0, 0, 0.3);
		backdrop-filter: blur(20px);
		border: 1px solid #6cc9ca26;
	}
	.endCard p {
		font-size: 0.95em;
		font-weight: 320;
	}
	.endCard a {
		display: block;
		background-color: #9494944d;
		padding: 10px 15px;
		max-width: 200px;
		margin: 0 auto;
		margin-top: 20px;
		text-align: center;
		border-radius: 10px;
	}
}

@media (max-width: 940px) {
	#facilities .secondSection .endCard {
		grid-column: 2;
	}
}

@media (max-width: 670px) {
	#facilities .secondSection .endCard {
		grid-column: 1;
	}
}
