#facilities .secondSection {
	max-width: 940px;

	a:hover {
		cursor: pointer;
	}

	padding: 20px;
	margin: 0px auto;
	margin-top: 50px;
	.cardContainer {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		gap: 30px;
	}
	.card {
		position: relative;
		padding: 10px 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-origin: center;
		height: 230px;
		overflow: hidden;
		transition: all 0.4s ease;
	}
	.card img {
		position: absolute;
		width: 125%;
		filter: brightness(0.7);
		object-fit: contain;
		top: 0;
		left: 0;
		transition: all 0.4s ease;
	}
	.card h2,
	.card p,
	.card div {
		z-index: 2;
	}
	.card.show {
		height: 100%;
	}
	.card p {
		height: 60px;
		overflow: hidden;
		opacity: 0;
		transition: height 0.4s ease;
		transition: opacity 0.5s ease;
	}

	.card.show p {
		height: 100%;
		opacity: 1;
		background-color: rgba(0, 0, 0, 0.4);
		padding: 20px;
		font-size: 1em;
	}
	.card.show .plus {
		display: none;
	}
	.card.show .minus {
		display: block;
		top: -50px;
	}

	.card.show img {
		width: 180%;
		left: -100px;
	}
	* {
		outline: 1px solid red;
	}
	.card h2 {
		height: 80px;
		font-size: 1.5em;
		font-weight: 350;
	}
	.card div {
		margin-top: auto;
		text-align: right;
		font-size: 6.5em;
		font-weight: 100;
		height: 70px;
		overflow: hidden;
	}
	.card div span {
		position: relative;
		top: -35px;
	}

	.card div span:hover {
		cursor: pointer;
	}
	.card .minus {
		display: none;
	}
	.endCard {
		grid-column: 3;
		padding: 20px 30px;
		background-color: rgba(0, 0, 0, 0.3);
		backdrop-filter: blur(20px);
		border: 1px solid #6cc9ca26;
	}
	.endCard p {
		font-size: 0.95em;
		font-weight: 320;
	}
	.endCard a {
		display: block;
		background-color: #9494944d;
		padding: 10px 15px;
		max-width: 200px;
		margin: 0 auto;
		margin-top: 20px;
		text-align: center;
		border-radius: 10px;
	}
	.training {
		margin-top: 100px;
		max-width: 350px;
		padding: 25px 35px;
		position: relative;
		background: url("/facilities/image9.jpg");
		background-position: center;
		background-size: cover;
	}
	.training h2 {
		margin-bottom: 15px;
	}
	.training > p {
		font-style: italic;
		font-weight: 450;
		font-size: 1.1em;
	}
	.training div {
		background: rgb(0, 0, 0, 0.1);
		padding: 20px 30px;
		margin-top: 50px;
		backdrop-filter: blur(20px);
		border-radius: 20px;
	}
	.training div p {
		font-size: 1em;
		font-weight: 500;
	}
	.training a {
		display: block;
		font-size: 1.1em;
		font-weight: 350;
		background: #94949433;
		text-align: center;
		margin-top: 20px;
		padding: 10px;
		border-radius: 20px;
	}
}
@media (max-width: 940px) {
	#facilities .secondSection .endCard {
		grid-column: 2;
	}
}

@media (max-width: 670px) {
	#facilities .secondSection .endCard {
		grid-column: 1;
	}
	#facilities .secondSection .training {
		margin: 20px auto;
	}
}

@media (max-width: 630px) {
	#facilities .secondSection .cardContainer {
		display: block;
		.card {
			margin: 0 auto;
			margin-bottom: 30px;
		}
	}
}
